* {
    transition: all 0.2s;
}

.clear {
    clear: both;
}

body {
    background-color: rgb(59, 59, 59);
    color: #fff;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 25px;
    }
}

.wrapper {
    width: 940px;
    margin: 50px auto;
}

.header {
    background: #aefff7;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.top_menu {
    background: #87c5ff;
    width: 100%;
    margin-top: 5px;
    height: 50px;
    position: relative;
}

.knopka {
    display: none;
    width: 32px;
    height: 21px;
    top: 2px;
    left: 6px;
    background: #6d6e6d;
    border-radius: 3px;
    position: absolute;
}

.lan {
    width: 29px;
    height: 3px;
    background-color: #2d2828;
    margin: 3px auto;
}

.sideLeft {
    background: #81ffb6;
    width: 30%;
    margin-top: 5px;
    padding: 1px 0;
    float: left;
}

.bar {
    background: #a5fdcf;
    border-radius: 5px;
    border: 1px solid #129d52;
    margin: 3px auto;
    width: 95%;
    height: 110px;
}

.content {
    background: #fefffd;
    width: 69%;
    margin-top: 5px;
    height: 355px;
    float: right;
}

.footer {
    background: #91a43c;
    width: 100%;
    margin-top: 5px;
    height: 70px;
}